<script>
export default {
  props: {
    color: {
      type: String,
      required: false,
      default: '#999',
    },
    height: {
      type: Number,
      required: false,
      default: 5,
    },
    width: {
      type: Number,
      required: false,
      default: 20,
    },
  },
  data() {
    return {
      style: {
        backgroundColor: `${this.color}`,
        width: `${this.width}px`,
        height: `${this.height}px`,
      },
    };
  },
};
</script>

<template>
  <div
    class="d-inline-block"
    :style="style"
  ></div>
</template>
