<script>
import VueMarkdown from 'vue-markdown';

export default {
  components: {
    VueMarkdown,
  },
};
</script>

<template>
  <vue-markdown class="container text-left">
    ### Pros

    * Quick to get started as the options are vast
    * Multiple dataset formatting options (e.g. https://ecomfe.github.io/echarts-doc/public/en/option.html#series-bar.data)
    * Canvas and SVG support
    * Very easy to link charts
    * Lots of examples and code samples in the documentation.
    * Toolbox seems like an area I'd like to explore more: 'magic' features for switching chart UI
      on the fly
    * (Almost) everything is customizeable. It allows for fully custom html tooltips

    ### Cons

    * `itemStyle` options for line graphs could be better supported. Especially when using
      `visualMap`.
    * Similar trouble customizing the icons within the legend. I wanted to modify the legend colors
      to darken them slightly as compared to their correlated bar. It could be mitigated by using a
      custom legend apart from ECharts, but I would have rather had the option.

  </vue-markdown>
</template>
