<script>
import { colors, alphaColors } from '@/charts/helpers';
import MultiBar from '@/charts/components/multi_bar.vue';

const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
const barColors = alphaColors(0.2);
const barEmphasisColors = alphaColors(0.4);
const barMaxWidth = '50%';

export default {
  components: {
    MultiBar,
  },
  props: {
    commitData: {
      type: Array,
      required: true,
    },
    renderer: {
      type: String,
      required: false,
      default: 'canvas',
    },
  },
  data() {
    return {
      title: 'Percent commits by functional unit',
      tooltip: {},
      legend: {},
      xAxis: {
        type: 'category',
        data: months,
        name: 'January - December 2017',
      },
      yAxis: {
        name: 'Commits (% of total)',
      },
    };
  },
  computed: {
    series() {
      return [
        {
          type: 'bar',
          stack: months,
          name: 'Fun1',
          data: this.commitData[0],
          barMaxWidth,
          itemStyle: {
            color: barColors[0],
            barBorderColor: colors[0],
          },
          emphasis: {
            itemStyle: {
              color: barEmphasisColors[0],
            },
          },
        },
        {
          type: 'bar',
          stack: months,
          name: 'Fun2',
          data: this.commitData[1],
          barMaxWidth,
          itemStyle: {
            color: barColors[1],
            barBorderColor: colors[1],
          },
          emphasis: {
            itemStyle: {
              color: barEmphasisColors[1],
            },
          },
        },
        {
          type: 'bar',
          stack: months,
          name: 'Fun3',
          data: this.commitData[2],
          barMaxWidth,
          itemStyle: {
            color: barColors[2],
            barBorderColor: colors[2],
          },
          emphasis: {
            itemStyle: {
              color: barEmphasisColors[2],
            },
          },
        },
        {
          type: 'bar',
          stack: months,
          name: 'Fun4',
          data: this.commitData[3],
          barMaxWidth,
          itemStyle: {
            color: barColors[3],
            barBorderColor: colors[3],
          },
          emphasis: {
            itemStyle: {
              color: barEmphasisColors[3],
            },
          },
        },
      ];
    },
  },
};
</script>

<template>
  <multi-bar
    :title="title"
    :legend="legend"
    :x-axis="xAxis"
    :y-axis="yAxis"
    :series="series"
    :renderer="renderer"
  />
</template>
